//
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;

    a{
        text-decoration: none;

    }
}

main{
    display: flex;
    flex-wrap: wrap;

    div.train-card{
        width: 33%;
        text-align: center;
        padding: 2rem;
        border: 5px solid white;
        background-color: darkseagreen;

            p{
                margin:.7rem 0;
            }


    }
}

.bg-green{
    background-color: green;
}

.bg-red{
    background-color: red;
}

div.check-infos{
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    span.train-check{
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        // background-color: blue;
    }
}