* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
header a {
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
}
main div.train-card {
  width: 33%;
  text-align: center;
  padding: 2rem;
  border: 5px solid white;
  background-color: darkseagreen;
}
main div.train-card p {
  margin: 0.7rem 0;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

div.check-infos {
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
div.check-infos span.train-check {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
