* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}
main div.train-card {
  width: 33%;
  height: 15rem;
  text-align: center;
  padding: 2rem;
}
main div.train-card p {
  margin: 0.7rem 0;
}
main div.train-card div.check-infos {
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main div.train-card div.check-infos span.train-check {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}
